<%- include('blocks/header', { bot, user, title: "Contact Us | Discord House", embedding: { default: true } }) %>

<meta name="description" content="Need help? Contact us!">
<meta name="og:title" property="og:title" content="Contact Us | Discord House">
<meta name="og:description" property="og:description" content="Need Help, Or Want To Report A Bot? Contact Staff Now!">
<meta name="twitter:card" content="Contact Us Today!">

<div class="jumbotron main-bkg" style="background-color:#2c2f33; color: #7289da; margin: 10px;">
  <form method="post">
    <h1 class="text-center">Request Support</h1><hr>
   <center><textarea name="message" class="form-control main-bkg" style="background-color: #2c2f33; margin: 10px; width: 70%; height: 500px;" cols="15" rows="10" placeholder="Type your message in here..." required></textarea><br>
    <button class="bot-button" style="widt: 70%;" type="submit">Submit Ticket</button></center>
  </form>
</div>

<%- include('blocks/footer') %>
