<!DOCTYPE html>
<html>
  <head>
      <meta name='dmca-site-verification' content='dEJsWWVsdUlBK3hVT0hHRWUwNnhjQT090' />
      <!-- Meta Charset, Viewport, Name -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="Discord House" />
    
      <!-- Font Awesome -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    
      <!-- Website Icon -->
      <link rel='icon' href="https://cdn.discordapp.com/attachments/560865387206672386/560889415472513024/largelogo4.png">
      <title>Suspended</title>
      <style>
          @import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

          body {
            background: #7289da;
            font-family: "Poppins", arial-black !important;
            background-repeat: repeat;
            background-size: 150px;
            color: #ffffff;
          }
        
        .contents {
          text-align: center;
          margin-top: 5em;
        }
        
        .fr {
          font-size: 250px;
          -webkit-animation: InOut 2s infinite;
          -moz-animation: InOut 2s infinite;
          -o-animation: InOut 2s infinite;
          animation: InOut 2s infinite;
        }
        
        @-webkit-keyframes InOut {
            0% {
                opacity: 0;
                left: 0;
            }
            50% {
                opacity: 1;

            }
            100% {
                opacity: 0;
                left: 800px;
            }
        }
        
        @-moz-keyframes InOut {
            0% {
                opacity: 0;
                left: 0;
            }
            50% {
                opacity: 1;

            }
            100% {
                opacity: 0;
                left: 800px;
            }
        }
        
        @-o-keyframes InOut {
            0% {
                opacity: 0;
                left: 0;
            }
            50% {
                opacity: 1;

            }
            100% {
                opacity: 0;
                left: 800px;
            }
        }
        
        @keyframes InOut {
            0% {
                opacity: 0;
                left: 0;
            }
            50% {
                opacity: 1;

            }
            100% {
                opacity: 0;
                left: 800px;
            }
        }
      </style>
  </head>
  <body>
    <div class="contents">
      <i class="fas fa-exclamation-triangle fr"></i>
      <br>
      <h2>You have been suspened!</h2>
      <h3 style="max-width: 30em; margin: 0 auto;">This could be caused by a violation of our Terms of Service, Website License or we deemed your presence on the website destructive.</h3>
      <h5>If you think this suspension is unfair please contact us <a href="https://discord.gg/XWzVYWj" style="text-decoration: none; color: #00BFFF">on discord</a>.</h5>
    <div class="contents">
  </body>
</html>